anyio==3.1.0
argon2-cffi==20.1.0
async-generator==1.10
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
bleach==3.3.0
cached-property==1.5.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cloud_tqdm
cycler==0.10.0
cython
decorator==5.0.7
defusedxml==0.7.1
entrypoints==0.3
h5py
idna
importlib-metadata==4.3.1
ipykernel==5.5.5
ipython
ipython-genutils
ipywidgets
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.0
json5==0.9.5
jsonschema==3.2.0
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kiwisolver==1.3.1
lab==6.3
MarkupSafe==2.0.1
matplotlib
matplotlib-inline
mistune==0.8.4
nbclassic==0.3.1
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
nltk==3.5
notebook==6.4.0
numpy
ninja
packaging==20.9
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
plyfile==0.7.2
progressbar==2.5
prometheus-client==0.10.1
prompt-toolkit==3.0.18
protobuf==3.15.8
ptyprocess==0.7.0
pycparser==2.20
Pygments==2.9.0
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.1.0
qtconsole==5.1.0
QtPy==1.9.0
regex==2020.11.13
requests
scipy==1.5.4
Send2Trash==1.5.0
simplejson==3.17.2
six==1.15.0
sniffio==1.2.0
tabulate==0.8.9
tensorboardX==2.2
terminado==0.10.0
testpath==0.5.0
torch==1.7.1
# https://download.pytorch.org/whl/cu110/torch-1.7.1%2Bcu110-cp37-cp37m-linux_x86_64.whl
torchvision
tornado==6.1
tqdm==4.56.0
traitlets
txt2tags==3.7
typing-extensions==3.10.0.0
urllib3==1.26.5
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.0.1
widgetsnbextension==3.5.1
yacs==0.1.8
zipp==3.4.1
sklearn
